.*.aux
.*.d
*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.glob
*.ml.d
*.ml4.d
*.mli.d
*.mllib.d
*.mlpack.d
*.native
*.o
*.v.d
*.vio
*.vo
*.vok
*.vos
.coq-native/
.csdp.cache
.lia.cache
.nia.cache
.nlia.cache
.nra.cache
csdp.cache
lia.cache
nia.cache
nlia.cache
nra.cache

# generated timing files
*.timing.diff
*.v.after-timing
*.v.before-timing
*.v.timing
time-of-build-after.log
time-of-build-before.log
time-of-build-both.log
time-of-build-pretty.log

Makefile.coq
Makefile.coq.conf

*_wellscoped.v
*_unscoped.v
*_asimpl.v

kathrin/coq/*/*_pre.v

kathrin/coq/Chapter10/sysf.v
kathrin/coq/Chapter10/sysf_pat.v

kathrin/coq/Chapter3/utlc_pure.v
kathrin/coq/Chapter3/utlc_scoped.v

kathrin/coq/Chapter6/sysf_cbv.v
kathrin/coq/Chapter6/utlc_pairs.v
kathrin/coq/Chapter6/variadic_fin.v

kathrin/coq/Chapter9/stlc.v
